@use "./components/_scrollbar.scss" as *;
@use "./components/_nprogress.scss" as *;
@use "./components/_markdown.scss" as *;
@use "./elements" as *;
@use "./layouts" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html.dark {
  @apply bg-elucidator-900;
}
a {
  @apply cursor-pointer;
}

body {
  font-size: 14px;
  @media (min-width: 420px) and (min-width: 1024px) {
    font-size: 16px;
  }
}
