@mixin h-w ($height: 100%, $width: 100%) {
  height: $height;
  width: $width;
}

@mixin flex-center ($justify-content: center) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify-content;
  align-items: center;
}
