@use "./variables" as *;

@mixin h-w($height: 100%, $width: 100%, $min-height: "", $min-width: "") {
  height: $height;
  width: $width;
  min-height: unquote($min-height);
  min-width: unquote($min-width);
}

@mixin flex(
  $align-items: unquote(""),
  $flex-wrap: unquote(""),
  $justify-content: unquote(""),
  $gap: "",
  $row-gap: "",
  $column-gap: ""
) {
  display: flex;
  align-items: unquote($align-items);
  flex-wrap: unquote($flex-wrap);
  justify-content: unquote($justify-content);
  gap: unquote($gap);
  row-gap: unquote($row-gap);
  column-gap: unquote($column-gap);
}

@mixin flex-center(
  $flex-wrap: wrap,
  $justify-content: unquote(""),
  $gap: "",
  $row-gap: "",
  $column-gap: "",
) {
  display: flex;
  align-items: center;
  flex-wrap: unquote($flex-wrap);
  justify-content: unquote($justify-content);
  gap: unquote($gap);
  row-gap: unquote($row-gap);
  column-gap: unquote($column-gap);
}

@mixin flex-gap($gap: "", $direction: "column", $row-gap: "", $column-gap: "") {
  display: flex;
  flex-direction: unquote($direction);
  gap: unquote($gap);
  row-gap: unquote($row-gap);
  column-gap: unquote($column-gap);
}

@mixin grid($gap: "", $row-gap: "", $column-gap: "") {
  display: grid;
  gap: unquote($gap);
  row-gap: unquote($row-gap);
  column-gap: unquote($column-gap);
}

@mixin grid-center(
  $justify-content: center,
  $align-items: "",
  $gap: "",
  $row-gap: "",
  $column-gap: ""
) {
  display: grid;
  justify-content: $justify-content;
  align-items: unquote($align-items);
  gap: unquote($gap);
  row-gap: unquote($row-gap);
  column-gap: unquote($column-gap);
}

@mixin grid-columns($col: 1) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
}

@mixin inner-box() {
  box-shadow: $box-shadow-1;
}
