@mixin h-w($height: 100%, $width: 100%, $min-height: "", $min-width: "") {
  height: $height;
  width: $width;
  min-height: unquote($min-height);
  min-width: unquote($min-width);
}

@mixin flex-center($justify-content: center) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify-content;
  align-items: center;
}

@mixin flex-gap($gap: "", $direction: "column") {
  display: flex;
  gap: unquote($gap);
  flex-direction: unquote($direction);
}

@mixin grid-center($justify-content: center, $align-items: "") {
  display: grid;
  justify-content: $justify-content;
  align-items: unquote($align-items);
}

@mixin grid-columns($col: 1) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
}
