@use "./variables" as *;

.h {
  letter-spacing: 0.1em;
  font-weight: bold;
  color: $color-black;
  &__h1 {
    font-size: 2.5em;
  }
  &__h2, &__h3 {
    text-transform: uppercase;
  }
  &__h2 {
    font-size: 1.75em;
    line-height: 2.75rem;
    padding: 0 0.5em;
  }
  &__h3 {
    font-size: 1.25em;
    line-height: 1.5rem;
    &--subtitle {
      display: block;
      text-align: center;
    }
  }
}
