$color-gray-1: rgba(213, 209, 200, 0.749);
$color-gray-2: #335c68;

$color-pink-1: #f3edf8;

$color-purple-1: #ece1f4;
$color-purple-2: #caa5e6;

// breakpoints
$xxs: 420px;
$xs: 610px;
$sm: 768px;
$sm-l: 858px;
$md: 992px;
$lg: 1024px;
