$color-black: #393a34;

$color-gray-1: rgba(213, 209, 200, 0.749);
$color-gray-2: #335c68;

$color-pink-1: #f3edf8;

$color-purple-1: #ece1f4;
$color-purple-2: #caa5e6;

$border-radius-m: 0.4rem;

$color-primary: #828da6;
$color-primary-green: #419f94;

// $color-secondary: #fafafb;
$color-secondary-error: #c10b59;
$color-secondary-error-hover: #eb0d6b;
// $color-secondary-error-active: #cb0f5f;
// $color-secondary-blue-link: #006ae8;

// breakpoints
$xxs: 420px;
$xs: 610px;
$sm: 768px;
$md: 992px;
$lg: 1024px;
