$color-black: #393a34;

$color-gray-0: #f6f6f6;
$color-gray-1: #d5d1c8;
$color-gray-1_75: rgba(213, 209, 200, 0.749);
$color-gray-2: #335c68;
$color-gray-2_75: rgba(51, 92, 104, 0.75);
$color-gray-3: #4e586e;
$color-gray-4: #6d717a;

$color-green-1: #25d1bc;
$color-green-2: #80d6cc;
$color-green-3: #3ed8c6;

$color-pink-1: #f3edf8;

$color-purple-1: #ece1f4;
$color-purple-2: #caa5e6;

$border-radius-m: 0.4rem;
$border-radius-s: 0.25rem;

$color-primary: #828da6;
$color-primary-green: #419f94;

$color-error-hover: #fb1d7d;
$color-error: #eb0d6b;
$color-warning: #ff9e26;

// breakpoints
$xxs: 420px;
$xs: 610px;
$sm: 768px;
$md: 992px;
$lg: 1024px;

$box-shadow-1: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
