@use "../settings/mixins" as *;
@use "../settings/variables" as *;

.error {
  border-color: $color-secondary-error;
  &:focus,
  &:hover {
    border-color: $color-secondary-error-hover;
  }
}
.input-control {
  @include flex-gap($row-gap: "0.2rem");
  line-height: 1.4rem;
  &__input-group {
    position: relative;
    display: flex;
    height: 40px;
  }
  &__input {
    width: 100%;
    outline: 0;
    border-color: $color-primary;
    border-width: 2px;
    border-style: solid;
    border-radius: $border-radius-m;
    padding: 0.25rem 0.3rem 0.3rem 0.5rem;
    &:read-only {
      cursor: not-allowed;
    }
    &:focus,
    &:hover {
      border-color: $color-gray-2;
    }
    &:focus-within {
      border-color: $color-black;
    }
  }
  &__button {
    background-color: white;
    position: absolute;
    color: $color-gray-2;
    font-size: 1.8rem;
    right: 0.2rem;
    bottom: 3px;
  }
}
.disable {
  background-color: $color-gray-1;
}
