@use "../settings/mixins" as *;
@use "../settings/variables" as *;

@for $n from 1 through 6 {
  .col-#{$n} {
    @include grid-columns($n);
  }
}
.grid-center {
  @include grid-center;
}
.flex-center {
  @include flex-center($justify-content: "center");
}
.share {
  @include flex-center(
    $justify-content: "center",
    $gap: "0.5rem",
  );
  a {
    width: 100%;
  }
}
.share__contact a {
  width: 100%;
}