@use "../settings/mixins" as *;
@use "../settings/variables" as *;
@use "../settings/themes" as *;

@for $n from 1 through 6 {
  .col-#{$n} {
    @include grid-columns($n);
  }
}
.grid-center {
  @include grid-center;
}
.flex-center {
  @include flex-center($justify-content: "center");
}
.share {
  flex-wrap: wrap;
  @include flex-center($justify-content: "center", $gap: "0.5rem");
  @media (min-width: 570px) {
    flex-wrap: unset;
  }
  &__contact a,
  a {
    width: 100%;
  }
}
