@use "../settings/variables" as *;

.h {
  color: $color-black;
  &__h1,
  &__h2,
  &__h3 {
    font-weight: bold;
    letter-spacing: 0.1em;
  }
  &__h1 {
    font-size: 2.5em;
  }
  &__h2,
  &__h3 {
    text-transform: uppercase;
  }
  &__h2 {
    font-size: 1.75em;
    line-height: 2.75rem;
    padding: 0 0.5em;
  }
  &__h3 {
    font-size: 1.25em;
    line-height: 1.5rem;
    ∫ &--subtitle {
      display: block;
      text-align: center;
    }
  }
  &__h4 {
    font-size: 1.25em;
    font-weight: bold;
  }
  &__h5 {
    font-size: 1.1em;
  }
  &__h6 {
    font-weight: lighter;
    font-style: italic;
    font-size: 1em;
  }
}
.post {
  &__h1 {
    @apply mb-5 text-3xl text-elucidator-700 dark:text-dark-repulser-400 font-bold;
  }
}
.text-5xl {
  line-height: 1.3;
}
